<section>
  <div class="d-flex flex-column justify-content-center align-items-center min-vh-100">
    <div class="col-sm-12 col-md-12 col-lg-6 d-flex flex-column align-items-center mt-5 p-5 pb-3">
      <div class="logo m-3"></div>
      <h5 class="d-block">Welcome back!</h5>
      <h6 class="d-block secondary-text-color">Goods and services on the palm of your hand</h6>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-6 d-flex flex-column justify-content-center align-items-center p-5 pt-3">
      <input class="text-box m-2" placeholder="Email Address" type="email"/>
      <input class="text-box m-2" placeholder="Password" type="password"/>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-6  d-flex flex-column align-items-center mb-5 p-5 pt-3">
      <button class="primary-button fw-bold">Sign in</button>
      <span class="primary-text-color small mt-3">Don't have an account? <span class="primary-highlighter-color hoverable-text fw-bold">Sign up</span></span>
    </div>
  </div>
</section>
